*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
width: 100%;
height: 100vh;
background: #A7C6D9;
}
.logo{
    position: absolute;
    width: 350px;
    height: auto;
    margin-top: -10px;
}
header img{
position: absolute;
width: 125px;
height: 44px;
left: 133px;
top: 50px;
}
header i{
position: absolute;
left: 90%;
top: 50px;
color: white;
}

.container img{
    position: absolute;
width: 310px;
height: 300px;
left: 103px;
top: 50%;

}
.contante{
    position: absolute;
width: calc(100% - 440px);
height: 79%;
left: 380px;
top: 143px;

background: #608BA6;
box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.66);
border-radius: 15px;
}
.form{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 44px;
}
.form h1{
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}
.form p{
    margin-top: 11px;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
font-size: 22px;
line-height: 19px;

color: #FFFFFF;
}
.input input{
    border: none;
    outline: none;
width: 329px;
height: 39px;
color: white;
font-weight: 700;
background: #A7C6D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.37);
border-radius: 19px;
padding-left: 10px;
margin: 10px;
}
::placeholder{
    color: rgba(0, 0, 0, 0.541);
}
.input{
    margin-top: 12px;
}
.input h4{
    margin-left: 37%;
    text-align: left;
    color: white;
}
.rememberMe{
    margin-left: 37%;
    text-align: left;
    margin-top: 12px ;
}
.rememberMe label{
    color: white;
    margin-left: 26px;
    font-size: 16px;
    font-family:'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
button{
    border: none;
    outline: none;
width: 329px;
height: 39px;
color: white;
font-size: 20px;
font-weight: 700;
background: #A7C6D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.37);
border-radius: 19px;
padding-left: 10px;
margin-top: 32px;

}
.line-singin{
    letter-spacing: -1px;
    height: 50px;
}
.line-singin p{
    font-size: 20px;
    display: inline-block;
    letter-spacing: 2px;
}
.line{
    display: inline-block;
    
    width: 90px;
    border-bottom: 1px solid #dadde181;
}
.singin-with{
  letter-spacing: 10px;
}
.facebook {
display: inline-flex;
width: 30px;
height: 25px;
left: 928px;
top: 846px;
background: #A7C6D9;
box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.562);
}
.email{
display: inline-flex;
width: 30px;
height: 25px;
left: 928px;
top: 846px;
background: #A7C6D9;
box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.562);
}
.singin-with a i{
color: #000;
margin: 6px 9px;
}
.creat p{
 font-size: 13px;
}
.creat p a{
    text-decoration: none;
    color: #A7C6D9;
    font-weight: 900;
}
@media screen and (max-width : 880px) {
    header img{
        position: absolute;
        width: 50px;
        height: 24px;
        left: 13px;
        top: 10px;
        }
    .container img{
     display: none;
    
    } 
    .contante{
        position: absolute;
    width: 99%;
    margin: 0 6px;
    left: 0;

    height: 83%;
    border-radius: 15px 15px 0px 0px;
    }
}
@media screen and (max-width : 480px){
    .input input{
    width: 90%;
    height: 35px;
    }  
    button{
        width: 90%;
        margin-top: 20px;
        height: 35px;
    }
    .rememberMe{
        margin-left: 7%;
        margin-top: 12px ;
    }
    .form h1{
        font-size: 29px;
        line-height: 32px;
        
        }
        .form p{
            margin-top: 11px;
            margin-bottom: 20px;
        font-size: 18px;
        line-height: 16px;
        
        }
        .contante{
            top: 90px;
        }
      header i{
      left: 76%;
      top: 30px;
}
.line-singin{
    height: 40px;
}
.line-singin p{
font-size: 18px;
}
.creat p{
    font-size: 10px;
   }
   .creat p a{
       font-weight: 700;
   }
}